@charset "UTF-8";
body {
    /* Guide-Color */
    --black: #000000;
    --white: #FFFFFF;
    --blue: #3C71FF;
    --blue-shadow: #3C71FFa0;
    --blue-sky: #F1F5FF;
    --grey: #ABABAB;
    --dark-grey: #757575;
    /* font-Size */
    --h1: 26px;
    --h2: 16px;
    --h4: 12px;
    --font-text: 12px;
    --font-hint: 10px;
    --font-btn: 11px;
    --font-small: 8px;
    /* font-family */
    --font-Interstate: 'InterstateMono', sans-serif;
    background-color: var(--blue-sky);
}

* {
    margin: 0;
    padding: 0;
    transition: all 0.2s ease-in;
    font-size: var(--h4);
}

/* ----------------------------------------- */
a,
svg {
    display: inline-block;
}
#root{
    position: absolute;
    /* display: flex; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    object-fit: cover;
    z-index: 2;
}
h1,h2,h3,h4,span,p, button, a{
    font-family: var(--font-Interstate);
}
/* ----------------------------------------- */
.card {
    display: flex;
    position: absolute;
    top: 10%;
    left: calc(50vw - 225px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 4px;
    background-color: var(--white);
    width: 480px;
    /* height: 400px; */
    padding: 15px 30px;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
}

.card h1 {
    font-size: var(--h1);
    font-weight: 700;
    margin: 15px 0;
}

.card h2 {
    font-size: var(--h2);
    font-weight: 400;
}

.card h4 {
    display: block;
    position: relative;
    overflow: hidden;
    font-size: var(--h4);
    font-weight: 400;
    margin: 20px 0;
    letter-spacing: -1px;
}
.card h4:after{
    content: '';
    position: absolute;
    top: calc(var(--h4)*0.5);
    /* left: ; */
    width: 100%;
    height: 1px;
    background-color: var(--black);
}

.card .card-header {
    width: 100%;
    padding-bottom: 20px;
}

.card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0;
}

.card .hint {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: var(--font-hint);
    color: var(--grey);
    font-size: 400;
}

.card .btn-default {
    padding: 5px 0;
    height: 40px;
    background-color: var(--white);
    border-radius: 4px;
    border: 1px solid var(--blue);
    font-size: var(--font-btn);
    cursor: pointer;
}

.card .btn-default svg {
    transform: translateY(2px);
    margin-left: -3px;
}
.card .btn-default svg path,
.card .btn-default svg {
    fill: var(--blue);
    height: var(--font-btn);
}

.card .btn-default:hover {
    background-color: var(--blue);
    color: var(--white);
}

.card .btn-default:hover svg path {
    fill: var(--white);
    color: var(--white);
}

.card .btn-default-fill {
    background-color: var(--blue);
    font-size: var(--font-btn);
    color: var(--white);
    width: 100%;
    line-height: 40px;
    border-radius: 4px;
    border: 0;
    padding: 0 5px;
    cursor: pointer;
}

.card .btn-default-fill:hover {
    box-shadow: -1px 3px 5px var(--blue-shadow);
}

.card .col-2>* {
    width: calc(50% - 5px);
}

.card .col>* {
    width: 100%;
}

/* ----- input Start ------ */
.card .input-default {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--blue-sky);
    padding: 0 5px;
    border-radius: 4px;
}

.card .input-default span::before,
.card .input-default input:placeholder-shown~span::before {
    content: attr(data-name);
    display: block;
    position: absolute;
    top: calc(50% - var(--font-text)*0.5);
    left: 10px;
    font-size: var(--font-text);
    color: var(--dark-grey);
    transition: .2s all;
}

.card .input-default input {
    background-color: var(--blue-sky);
    border: none;
    outline: none;
    line-height: 40px;
    font-size: var(--font-text);
    margin-left: 5px;
    width: 100%;
}

.card .input-default.ok input~span::before,
.card .input-default input:focus~span::before,
.card .input-default input.value~span::before {
    top: 3px;
    font-size: var(--font-small);
}
.card .ps-group{
    display: flex;
    justify-content: flex-start;
}
.card .ps-type{
    display: flex;
    align-items: center;
    font-size: var(--font-hint);
    color: var(--grey);
    margin-right: 5px;
}
.card .ps-type svg{
    margin-right: 5px;
}
.card .check-eye{
    margin-left: auto;
    margin-right: 5px;
    background-color: #00000000;
    border: 0;
    cursor: pointer;
}
.card .check-eye.open svg path{
    fill: var(--blue);
}
/* -------- input End --------  */
.card .danger-hint{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #D71920;
    background-color: #F5C4C6;
    border-radius: 4px;
    font-size: var(--font-text);
    letter-spacing: 2px;
}
.card .link-black {
    position: relative;
    color: var(--black);
    font-size: var(--font-text);
    text-decoration: none;
}

.card .link {
    color: var(--blue);
    font-weight: bold;
    position: relative;
    font-size: var(--font-hint);
    text-decoration: none;
    cursor: pointer;
    margin: 0 3px;
}

/* ---------checkbox---------- */
.card .account {
    display: flex;
    position: relative;
    color: var(--grey);
    font-size: var(--font-hint);
    margin: 20px 0;
    padding-left: 30px;
}

.card .account>input,
.card .account>input:hover {
    display: none;
}

.card .account>input~.checkmark {
    position: absolute;
    left: 2px;
    top: 2.5px;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    background-color: var(--dark-grey);
}

.card .account>input:checked~.checkmark:after {
    content: '';
    position: absolute;
    top: 9px;
    left: 3px;
    width: 3px;
    height: 6px;
    background-color: #00000000;
    border-width: 0 2px 2px 0;
    border-color: var(--blue);
}

/* ------------------- */
.card .link-black:hover::before,
.card .link:hover::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--blue);
}
.d-none{
    display: none !important;
}

/* -------------------------------------- */
/* ＲＷＤ */
@media screen and (max-width: 767px) {
    body{
        background-color: var(--white);
    }
    .card{
        top: 0;
        width: auto;
    }
    .card .card-body, .card .card-header{
        width: 100%;
    }
}